.menu-display-root {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 150px;
    width: 200px;
    z-index: 100;
    overflow: scroll;
    border-radius: 0.3rem;
    background-color: #fafafa;
    border: 2px solid #dddddd;
}

.menu-element-wrapper {
    display: flex;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
}

.menu-element-wrapper-clickable {
    display: flex;
    border-radius: 0.3rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.menu-element-selected {
    background-color: #f1f1f1;
}

.menu-element-icon {
    width: 23px;
    height: auto;
    display: flex;
    align-items: center;
}

.menu-element-right-icon {
    margin-left: auto;
    width: 23px;
    height: auto;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.menu-element-label {
    color: black;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}

.menu-placeholder {
    color: #aaaaaa;
    text-align: center;
    padding: 0 0.5rem;
}

.menu-filter-wrapper {
    display: flex;
    background-color: transparent;
    padding: 0.2rem 0.5rem;
    position: absolute;
    top: -1.5rem;
    width: 200px;
}

.menu-filter-icon {
    width: 23px;
    height: auto;
    display: flex;
    align-items: center;
}

.menu-filter {
    color: #aaaaaa;
    font-style: italic
}

.menu-filter-placeholder {
    color: #aaaaaa;
    font-style: italic
}

.submenu-label {
    margin-left: 0.5rem;
}